* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  font-family: "Poppins", sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

img {
  width: 200px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

hr {
  width: 105px;
  border: 2px solid #e559f9;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
}

.conteudo-atividade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #a8a8b3;
  padding-left: 16px;
  margin-top: 22px;
}

button {
  width: 300px;
  height: 40px;
  background: #835afd;
  color: #fefefe;
  border-radius: 8px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}

button:hover {
  background: #632fff;
}

ul {
  margin-top: 20px;
  color: #6f4bd8;
}

.fa-circle-minus {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.concluida {
  color: green;
  text-decoration: line-through;
}

li {
  cursor: pointer;
}
